body{
    background-color: white;
}
.footerTop{border-top: 1px solid #e1e1e8;}
.line{
    width: 100%;
    height: 0;
    /*min-width: 1229px;*/
    border-bottom: 2px solid #e1e1e8;
}
.tabLinkMaxBox{
    display: none;
}

.stateList{
    background-color: white;
    padding-top: 14px;
}
.stateList>div{
    float:left;
    padding: 2px 6px;
}
.stateList>.last{

}


.countContainer{
    overflow: hidden;
    margin-top: 15px;
}
.manageList{
    width: 210px;
}
.manageList>ul{
    border: 2px solid #f7f7f7;
    width: 210px;
}
.manageList>ul>li>a{
   display: block;
   /*width: 190px;*/
   padding-left: 30px;
   font-size: 16px;
   height: 70px;
   line-height: 70px;
    color: #6c9efb;
   background-color: #ffffff;
}
.manageList>ul>li>ul{
    display: none;
}
.manageList>ul>li>ul>li>a{
    display: block;
    /*width: 175px;*/
    padding-left: 45px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #828282;
    background-color: #ffffff;
}
.manageList>ul>li>ul>li>.active{
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    height: 48px;
    line-height: 48px;
    background-color: #fdfdfd;
}
.manageList>ul>li>ul>li>.active1{
    height: 48px;
    line-height: 48px;
    border: 1px solid;
    color: white;
    background-color: #5590f6;
}

.countRight{
    float: right;
    /*//height: 1200px;*/
    /*//width: 980px;*/
}

input{
    outline:none;
}
header{margin-bottom: 0;}
header>.headerBot{display: none;}
.xiaoshi{display: none;}
.mianCont_box{display: none;}
.topTitle{background: url("../img/cf_headerBAck.png") no-repeat;background-position: center;height: 98px;background-size: cover; }
.topTitle .headerBot{
    /*height: 83px;*/
    padding-top: 41px;
}
.topTitle .navList .cfnav{
    float: left;
    width: 74px;
    text-align: center;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    margin-right: 15px;
    color: #737373;
}
.topTitle .navList .cfnav a{
    display:inline-block;
    height: 100%;
    width: 100%;
}
.topTitle .navList .cfnav.on{
    color: #1C93DB;
    border-bottom: 2px solid #1C93DB;
}

.red{color: red;}
.pop{display: none;}
.pop{position: fixed;top: 0;left: 0;right:0;bottom: 0;width: 100%;height: 100%;z-index: 999;background-color: rgba(102,102,102,0.5);}
.pop>.cont{position: fixed;top: 50%;left: 50%;width: 628px;height: 363px;background-color: #ffffff;transform: translate(-50%,-50%);}
.pop>.cont>.cancel{text-align: right;color: #9E9E9E;margin-bottom: 37px;margin-top: 18px;margin-right: 18px;}
.pop>.cont>.cance2{margin: 0;padding: 0 20px;height: 50px;line-height: 50px;background: url("../img/cf_popbackgr.png") no-repeat ; margin-bottom: 27px;background-size: contain;}
.pop>.cont>.cance2>.popTitle{color:#5992f3;font-size: 16px;}
.pop>.cont>div{overflow: hidden;padding: 0;margin-top: 10px;}
.pop>.cont>div>.leftTitle{margin-left:53px;width: 120px;text-align: right;margin-right: 18px;height:36px;line-height: 36px;}
.pop>.cont>div>.popInput{width: 337px;height:38px;}
.pop>.cont>div>.popInput>input{width: 100%;height:28px; color: #C6C6C6;margin-top: 1px;border: 1px solid #C6C6C6;text-indent: 10px;}
.pop>.cont>.forget2{text-align: right;margin-right: 100px;margin-top: 10px;}
.pop>.cont>.forget2>a{color: #007aff;}
.pop>.cont>.popBottom{margin-left: 90px;margin-top: 35px;}
.pop>.cont>.popBottom>.btn{margin-left: 58px;width: 137px;height: 39px;line-height: 39px;background-color: #007aff;color: white;text-align: center;border-radius: 5px;}

.pop>.cont>.popBottom>.popReset{color:#ff7524;border: 1px solid #ff7524;background-color: white;}
.pop>.cont>.popBottom>.popReset:hover{color:#ffffff;border: 1px solid #ff7524;background-color: #ff7524;}
.pop>.cont>.popBottom>.popCancel{background-color: white;border: 1px solid #007aff;color: #007aff;}
.pop>.cont>.popBottom>.popCancel:hover{background-color: #007aff;color: #ffffff;}
.pop>.cont>.popBottom>.popSure:hover{background-color: #026ee4;color: #ffffff;}


.input_height input {
    height: 30px;
    width: 190px;
    margin-bottom: 17px;
    text-indent: 10px;
}

.info label {
    width: 110px;
    text-align: right;
    display: inline-block;
}


.modelBox23 .modelcontent p {
    padding: 5px 68px;
}

.modelcontent p {
    color: #949495;
    font-size: 14px;
    padding: 0 60px;
}

.modelcontent p span {
    color: #5992f3;
}

.xiaoshi{display: none;}
.mianCont_box{display: none;}
.topTitle{height: 130px;line-height: 130px;}
.topTitle>.logo1{height: 100%;}
.topTitle>.logo1>img{vertical-align: middle;}
.topTitle>.userTitle{ margin-left: 26px;padding-left: 26px;border-left: 2px solid #f1f1f1;  height: 66px;  line-height: 66px;  margin-top: 25px;  color: #090405;  font-size: 30px;  font-family:MicrosoftYaHei-Bold;  }

.red{color: red;}
/*#updataPhone{display: block;}*/
.pop{display: none;}
.pop{position: fixed;top: 0;left: 0;right:0;bottom: 0;width: 100%;height: 100%;z-index: 999;background-color: rgba(102,102,102,0.5);}
.pop>.cont{position: fixed;top: 50%;left: 50%;width: 628px;height: 363px;background-color: #ffffff;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);}
/*.pop>.cont>.cancel{text-align: right;color: #9E9E9E;margin-bottom: 37px;margin-top: 18px;margin-right: 18px;}*/
/*.pop .close{background: }*/
.pop>.cont>.cance2{margin: 0;padding: 0 20px;height: 50px;line-height: 50px;background: url("../img/cf_popbackgr.png") no-repeat ; margin-bottom: 27px;background-size: contain;}
.pop>.cont>.cance2>.popTitle{color:#5992f3;font-size: 16px;}
.pop>.cont>div{overflow: hidden;padding: 0;}
.pop>.cont>div>.leftTitle{margin-left:53px;width: 120px;text-align: right;margin-right: 18px;height:36px;line-height: 36px;}
.pop>.cont>div>.popInput{width: 337px;height:38px;}
.pop>.cont>div>.popInput>input{width: 100%;height:28px;line-height: 28px;margin-top: 1px;border: 1px solid #C6C6C6;text-indent: 10px;}
.pop>.cont>.forget2{text-align: right;margin-right: 100px;margin-top: 10px;}
.pop>.cont>.forget2>a{color: #007aff;}
.pop>.cont>.popBottom{margin-left: 90px;margin-top: 35px;}
.pop>.cont>.popBottom>.btn{margin-left: 58px;width: 137px;height: 39px;line-height: 39px;background-color: #007aff;color: white;text-align: center;border-radius: 5px;}

.pop>.cont>.popBottom>.popReset{color:#ff7524;border: 1px solid #ff7524;background-color: white;}
.pop>.cont>.popBottom>.popReset:hover{color:#ffffff;border: 1px solid #ff7524;background-color: #ff7524;}
.pop>.cont>.popBottom>.popCancel{background-color: white;border: 1px solid #007aff;color: #007aff;}
.pop>.cont>.popBottom>.popCancel:hover{background-color: #007aff;color: #ffffff;}
.pop>.cont>.popBottom>.popSure:hover{background-color: #026ee4;color: #ffffff;}


.all_error_alert,.all_success_alert,.no_zizhi, .dasdas,.modelBoxdiaoling, .modelBox0, .modelBox1, .modelBox2, .modelBox3, .modelBox4, .modelBox5, .modelBox6, .modelBox7, .modelBox8, .modelBox9, .modelBox10, .modelBox11, .modelBox12, .modelBox13, .modelBox14, .modelBox15, .modelBox16, .modelBox17, .modelBox18, .modelBox19, .modelBox20, .modelBox21, .modelBox22, .modelBox23, .modelBox24, .modelBox25, .modelBox26, .modelBox27, .modelBox28,.modelBox29,.modelBox30,.modelBox31,.modelBox32,.modelBox33,.modelBox34,.modelBox35,.modelBox36,.modelBox37,.modelBox38,.modelBox39,.modelBox40,.modelBox41,.modelBox42,.modelBox43,.modelBox44,.modelBox45,.modelBox46,.modelBox47,.modelBox48,.modelBox49,.modelBox50,.modelBox51,.modelBox52,.modelBox53,.modelBox54,.modelBox55,.modelBox56,.closeRequirement, .okClose, #renzheng1, #addCustomerRelationship, #lijiBaoming, #activityDetail {
    z-index: 9999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



.modelBox3 .modelcontent p, .modelBox4 .modelcontent p, .modelBox5 .modelcontent p, .modelBox6 .modelcontent p, .modelBox7 .modelcontent p, .modelBox10 .modelcontent p, .modelBox14 .modelcontent p, .modelBox15 .modelcontent p, .modelBox16 .modelcontent p, .modelBox18 .modelcontent p, .modelBox19 .modelcontent p, .modelBox20 .modelcontent p, .modelBox21 .modelcontent p,  .modelBox23 .modelcontent p, .modelBox24 .modelcontent p, .modelBox25 .modelcontent p, .modelBox26 .modelcontent p, .modelBox27 .modelcontent p,.modelBox28 .modelcontent p,.modelBox29 .modelcontent p,.modelBox30 .modelcontent p,.modelBox31 .modelcontent p,.modelBox32 .modelcontent p,.modelBox33 .modelcontent p,.modelBox34 .modelcontent p,.modelBox35 .modelcontent p,.modelBox36 .modelcontent p,.modelBox37 .modelcontent p,.modelBox38 .modelcontent p,.modelBox39 .modelcontent p,.modelBox40 .modelcontent p,.modelBox41 .modelcontent p,.modelBox42 .modelcontent p,.modelBox43 .modelcontent p,.modelBox44 .modelcontent p,.modelBox45 .modelcontent p,.modelBox46 .modelcontent p,.modelBox47 .modelcontent p,.modelBox48 .modelcontent p,.modelBox49 .modelcontent p,.modelBox50 .modelcontent p,.modelBox51 .modelcontent p,.modelBox52 .modelcontent p,.modelBox53 .modelcontent p,.modelBox54 .modelcontent p,.modelBox55 .modelcontent p, .okClose p, #renzheng1 p {
    text-align: center;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

.fl {
    float: left;
}

.fr {
    float: right;
}

#addCustomerRelationship .modelCont {
    height: 390px;
}

#addCustomerRelationship .modelCont, #addCustomerRelationship .modeltitle, #addCustomerRelationship .modelcontent {
    width: 650px;
}

#addCustomerRelationship .modelcontent {
    height: 340px;
}

#addCustomerRelationship .modelBtnBox {
    height: auto;
}

.info .span {
    font-size: 14px;
    color: #282828;
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    margin-left: 25px;
    line-height: 36px;
}

#lijiBaoming .info .span {
    width: 110px;
}

#lijiBaoming .modelCont {
    height: 300px;
}

#lijiBaoming .modelCont, #lijiBaoming .modeltitle, #lijiBaoming .modelcontent {
    width: 500px;
}

#lijiBaoming .modelcontent {
    height: 300px;
}

#lijiBaoming .modelBtnBox {
    height: auto;
}

input.pay_pass_input, .phone_num, .code_input {
    height: 32px;
    width: 235px;
    text-indent: 10px;
}

.phone_num_kuang {
    margin: 20px auto;
}

.huoqu_code {
    color: #5590F6;
    font-size: 14px;
    line-height: 36px;
    margin-left: 20px;
    cursor: pointer;
}

div#lijiBaoming .info {
    padding-top: 15px;
}

.baozhnegjin_kuang {
    margin-bottom: 10px;
}

.qiye_name_input {
    width: 481px;
    height: 34px;
    border-color: #d3d3d3;
    border-width: 1px;
    border-style: solid;
    text-indent: 10px;
}

.selectPub {
    width: 483px;
    height: 38px;
    border: 1px solid #d3d3d3;
    margin-right: 0px;
}

.selectPub>ul {
    border: 1px solid #d3d3d3;
    width: 483px;
}

.qiye_type_kuang {
    margin: 25px 0;
}

#addCustomerRelationship .info {
    padding-top: 32px;
}

#addCustomerRelationship .modelbtn {
    margin: 50px auto 0 80px;
    width: 192px;
    height: 41px;
    line-height: 41px;
    font-size: 16px;
}


.modelCont{
    position: fixed;
    width: 450px;
    /*height: 276px;*/
    /*left: 50%;
    top: 50%;
    margin-left: -225px;
    margin-top: -138px;*/
}

.pop>.cont>.cancel {
    width: 100%;
    height: 50px;
    background-image: url(../img/gsxq.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 16px;
    color: #5690f6;
    line-height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.modeltitle{
    width: 450px;
    height: 50px;
    background-image: url(../img/gsxq.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 16px;
    color: #5690f6;
    line-height: 50px;
}
.modeltitle span{
    margin-left: 16px;
}
.modelcontent{
    width: 450px;
    background-image: url('../img/gsxq_cont.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 18px;
}


.modelBox22 .modelCont, .modelBox22 .modeltitle, .modelBox22 .modelcontent {
    width: 642px;
}

.modelBox22 .modelcontent {
    height: 460px;
    font-size: 16px;
}

.uploade {
    position: relative;
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: url('../img/product_pic.png');
}

.uploade>input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
}

.input_height input {
    height: 30px;
    width: 190px;
    margin-bottom: 17px;
    text-indent: 10px;
    border: 1px solid #A8A8A8;
}

.info label {
    width: 110px;
    text-align: right;
    display: inline-block;
}

.input_height.pn {
    padding-top: 25px;
}

.input_height {
    margin-left: 105px;
}

.id_card_pic {
    margin-left: 105px;
}

.id_card_pic1 {
    margin-left: 5px;
}

.id_card_pic2 {
    margin-left: 11px;
}

input#test1 {
    width: 172px;
    border: 1px solid #A8A8A8;
}

.modelbtn1.upload_info, .modelbtn1.cancel_info.confirm {

    float: left;
}

.modelbtn1.upload_info {
    margin-left: 220px;
}

.modelbtn1.cancel_info.confirm {
    margin-left: 30px;
}

.modelBtnBox.width100 {
    width: 100%;
}

.clearfix.id_card_pic span {
    margin-top: 10px;
    display: inline-block;
}


.modelbtn1 {
    width: 145px;
    height: 45px;
    border: 1px solid #5690f6;
    font-size: 18px;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 18px;

}

.modelBox23 .modelcontent p {
    padding: 5px 68px;
}

.modelcontent p {
    color: #949495;
    font-size: 14px;
    padding: 0 30px;
}

.modelcontent p span {
    color: #5992f3;
}

.img_div {
    width: 100%;
    height: 42px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 19px;
    overflow: hidden;
}
.yiRenZheng,.weiRenZheng{
    display: none;
}

/* 模态框 */
.modelBox{
    z-index: 9999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modelCont{
    position: absolute;
    width: 450px;
    min-height: 276px;
    left: 50%;
    top: 50%;
    /*margin-left: -225px;
    margin-top: -200px;*/
    margin-left: 0 !important;
    margin-top: 0 !important;
    transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);
    font-family: 'microsoft yahei';
    /* background-color: red; */
}
.modeltitle{
    width: 450px;
    height: 50px;
    background-image: url(../img/gsxq.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 16px;
    color: #5690f6;
    line-height: 50px;
}
.modeltitle span{
    margin-left: 16px;
}

.modelcontent, .cont{
    width: 450px;
    min-height: 226px;
    background-image: url('../img/gsxq_cont.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 18px;
}

.modelBtnBox{
    width: 302px;
    height: 45px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 30px;
}
.modelbtn{
    float: left;
    width: 145px;
    height: 45px;
    border: 1px solid #5690f6;
    font-size: 18px;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    margin: 18px auto 0 80px;
}

.modelbtn.ml75 {
    margin: 18px auto 0 75px;
}

.modelbtn.modelbtn2 {
    margin: 18px 0px;
}

.modelbtn.modelbtn2.ml10 {
    margin-left: 10px;
}

.ts {
    display: none;
}

i.ts {
    line-height: 100px;
}

.pop>.cont>div>.lineHeight {
    line-height: 38px;
}

.pop>.cont>div>.popInput.infoCont {
    width: 337px;
    height: auto;
    max-height: 195px;
    overflow: auto;
}

.money_num {
    font-size: 14px;
    color: #282828;
    display: inline-block;
    line-height: 36px;
}


#activityDetail .info {
    font-size: 14px;
}

#activityDetail span.title, #activityDetail .fl.activity_cont, #activityDetail .xianzhi, #activityDetail .baozhengjin {
    display: inline-block;
    width: 290px;
    margin-top: 8px;
}
.cf_btn{width: 120px;height: 40px;line-height: 40px;text-align: center;border-radius: 3px;background-color: #6ba1ff;color: white;}
.cf_btn:hover{background-color: #5388ff;color: white;}
.cf_btnA{color: #6ba1ff;}

.requireInfo .contBox{
    min-height: 244px;
}
.contlist{
    overflow: hidden;
    box-sizing: border-box;
}
.contlistone .ll{
    width: 327px;
}
.contlistone .rr{
    width: 420px;
}
.contlistone .desti{
    overflow: hidden;
}
.contlistone .destination{
    float: right;
    display: inline-block;
    width: 347px;
}
.contlisttwo .ll{
    width: 327px;
}
.contlisttwo .mm{
    width: 320px;
}
.contlisttwo .rr{
    width: 285px;
}
/* dangerIntroduce */
.dangerIntroduce .title>div{
    float: right;
    width: 95px;
    margin-right: 28px;
    cursor: pointer;
    font-size: 14px;
    color: #038cd9;
    background-image: url('../img/prl-right.png');
    background-size: 9px 7px;
    background-repeat: no-repeat;
    background-position: right center;
}
.dangerIntroduce .contBox{
    overflow: hidden;
}
.dangerIntroduce .ll{
    width: 327px;
}
.dangerIntroduce .mm{
    width: 320px;
}
.dangerIntroduce .rr{
    width: 285px;
}
/* companyInfo */
.companyInfo>.contBox{
    overflow: hidden;
}
.companyInfo .ll{
    width: 327px;
}
.companyInfo .mm{
    width: 320px;
}
.companyInfo .rr{
    width: 285px;
}
.btn{
    cursor: pointer;
}
.contBox .blue{
    color: #0072bc;
}
/* baojiaCompany */
.baojiaCompany>.contBox{
    overflow: hidden;
}
.baojiaCompany .ll{
    width: 327px;
}
.baojiaCompany .mm{
    width: 320px;
}
.baojiaCompany .rr{
    width: 285px;
}
.baojiaCompany .rr .select{
    margin-right: 15px;
}
/* operator */
.operator>.contBox{
    overflow: hidden;
}
.operator .ll{
    width: 327px;
}
.operator .mm{
    width: 320px;
}
.operator .rr{
    width: 285px;
}
.modelBox34 td{
    text-align: center;
    height: 61px;
    vertical-align: middle;

}
.modelBox34 thead tr{
    border: 1px solid #f0efef;
}
.modelBox34 tbody tr{
    border: 1px solid #f0efef;
    border-top: none;
}
.modelBox34 th{
    height: 37px;
    vertical-align: middle;
   /*// border: 1px solid #f0efef;*/
}
.modelBox34LeftTitle{
    display: inline-block;
    width: 65px;
    font-size: 14px;
    color: #282828;
    /*text-align: justify;*/
}
.modelBox34 input[type="tadio"]{
    margin-right: 5px;
    vertical-align: middle;
}

.modelBox34 .cfClose,.modelBox35 .cfClose,.modelBox36 .cfClose,.modelBox37 .cfClose,.modelBox38 .cfClose,.modelBox39 .cfClose,.modelBox40 .cfClose,.modelBox41 .cfClose,.modelBox42 .cfClose,.modelBox43 .cfClose,.modelBox44 .cfClose,.modelBox48 .cfClose{color: #666666;background-color: white;width: 190px;height: 39px;line-height: 39px;margin-right: 20px;border: 1px solid #dbdbdc; }
.modelBox34 .cfClose:hover,.modelBox35 .cfClose:hover,.modelBox36 .cfClose:hover,.modelBox37 .cfClose:hover,.modelBox38 .cfClose:hover,.modelBox39 .cfClose:hover,.modelBox40 .cfClose:hover,.modelBox41 .cfClose:hover,.modelBox42 .cfClose:hover,.modelBox43 .cfClose:hover,.modelBox44 .cfClose:hover,.modelBox45 .cfClose:hover,.modelBox46 .cfClose:hover,.modelBox47 .cfClose:hover{color: white;background-color: #5388ff;border-color: #5388ff;}
/*蓝色字体返回*/
.modelBox42 .cfClose,.modelBox43 .cfClose{
    background:inherit;border: 1px solid #5992f3;width: 140px;
}
.modelBox44 .cfClose{
    background:#5690f6;color: white;margin: auto;border: 1px solid #5690f6;margin-top: 35px;
}
.modelBox45 .cfClose{
    color: #5690f6;
}
.modelBox46 .cfClose,.modelBox47 .cfClose{
    background-color: #5690f6;
}
.modelBox48 .modelbtn,.modelBox49 .modelbtn {background-color: #5690f6;}