body{
    background-color: #ffffff;
}
.container{
    border: 1px solid #ebe9ea;
    width: 970px;
}
.containerTitle{color: #282828;margin-bottom: 33px; font-size: 16px; height: 50px;line-height: 50px; background: url("../img/addRequermentTitleBack.png") no-repeat;background-size: cover;padding: 0px 30px 0 10px;}
.containerTitle::after,.container1::after{content: "";display: block;clear: both;}
.containerTitle img {float: left;margin-top: 10px;margin-right: 10px;}
.addLiShi{width: 248px;height: 38px;line-height: 38px;text-align: center;color: #ffffff;background-color: #679cfa;font-size: 14px;margin-top: 7px;border-radius: 5px;}
.container1{padding-bottom: 20px;}
.container1Left{width: 279px;margin-right: 39px;margin-left: 39px;}
.container1Cen{width: 244px;margin-right: 85px;}
.container1Right{width: 249px;}
.container1Left>div,.container1Cen>div,.container1Right>div{margin-bottom: 21px;}
.container1Cen .select{width: 178px;}
.container1Right .select{width: 180px;}

.select{height: 38px;background-color: #fafafa;border: 1px solid #eaeaea; float: right;margin-top: 0;}
.select span{font-size: 14px;}
input{height: 34px;background-color: #fafafa;border: 1px solid #eaeaea;text-indent: 10px;}
.BH{margin-left: 38px;}
.BH input{width: 829px;}
.cf_leftTitle{font-size:14px;color: #282828;height: 38px;line-height: 38px;display: inline-block;}
.goodsName input,.FHtime input,.daohuo input{width: 213px;}

.fadantype .select{width: 215px;}
.address .select{float: left;width: 96px;}

.containerBot{margin-top: 30px;padding-top: 32px;height: 166px;border-top: 1px solid #eaeaea;}
.containerBot .cf_sel{display:inline-block; width: 17px;height: 17px;border: 1px solid #666666;float: left;margin-left: 423px;margin-right: 5px;margin-top: 2px;}
.containerBot .cf_sel.on{background: url("../img/cf_sel.png") no-repeat;  background-size: 100%  100%;border: 1px solid #69a0ff;}
.sub{width: 360px;height: 60px;line-height: 60px;background-color: #528df9;border-radius: 3px;color: #ffffff;font-size: 18px;text-align: center;margin: auto;margin-top: 20px; }

.container1,.container2,.container3,.container4,.container4{border-top: 1px solid #eaeaea;}