.xiaoshi{display: none;}
input,.textarea,textarea{background-color: #fafafa;border: 1px solid #eaeaea;}
.red{color: red;}
html,body{min-width: 972px;width: 972px;background-color: white;overflow: hidden;font-size: 14px;}

.container{width:970px;border: 1px solid #f1f1f1;overflow-y: auto;overflow-x: hidden;}
.containerTitle{height: 50px;line-height: 50px;font-size: 16px;color: #282828;border-bottom: 1px solid #f1f1f1;padding: 0 14px;}
.containerTitle::after{content: "";display: block;clear: both;}

.center1{padding: 10px 0px 66px 90px;border-bottom: 1px solid #f1f1f1;}
.center1>ul{}
.center1>ul>li{overflow: hidden;margin-top: 17px;}
.center1>ul>li>.left1{width: 179px;height: 38px;line-height: 38px;text-align: right;margin-right: 15px;font-size: 14px;color: #333333;}
.center1>ul>li>.right1{overflow: hidden;}
.center1>ul>li>.right1>input{width: 359px;height: 32px;font-size: 14px;text-indent: 10px;}
.center1>ul>li>.right1>.date-input{width: 149px; text-indent: 4px;}
.center1>ul>li>.right1>.uploade{position: relative;width: 150px;height: 150px;line-height: 100px;text-align: center; border: 1px solid #ebe9ea;}
.center1>ul>li>.right1>.uploade>i{position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.center1>ul>li>.right1>.uploade>img{position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;}
.center1>ul>li>.right1>.uploade>input{position: absolute;top: 0;left: 0;right: 0;bottom: 0;opacity: 0;width: 100%;}
.center1>ul>li>.right2{line-height: 38px;margin-left: -30px;}
.center1>ul>li>.right2>input{margin-left: 30px;}
.edit{color: #89b3ff;margin-top: 91px;font-size: 14px;}