body{background-color: #ffffff;}
.container{width: 978px;}

.mineLeftHeader{overflow: hidden;border:1px solid #ebe9ea;padding: 22px 0 20px 13px;width: 693px;}
.mineLeft{float: left;}
.mainRight{
    width: 261px;
    height: 770px;
    float: left;
    margin-left: 8px;
}
.headerTitle{font-size: 16px;}
.headerImgLe{margin-right: 31px;width: 138px;height: 138px;}
.headerImgLe>img{width: 100%;height: 100%;}
.headerNavList{overflow: hidden;font-size: 12px;height: 18px;line-height: 18px;margin-top: 15px;}
.headerNavList>div>i{margin-right: 9px;}
.headerNavList>div>img{float: left;margin-right: 5px;}
.headerNav1{color: #38A4F0;}
.headerNav2{color: #5590F6;}
.headerNav3{color: #EA4A3A;}
.headerNav4{color: #1C93DB;}
.headerNav5{color: #FF8235;}
.fabu{background-color: #5CB1E5;width: 190px;height: 28px;border-radius:2px;padding-top: 7px;color: #ffffff;font-size: 14px;text-align: center;margin-top: 50px;}
.fabu img{width: 17px;height: 17px;vertical-align: middle;}

.notice{width: 706px;height: 30px;padding-top: 11px;line-height: 21px;border:1px solid #ebe9ea;}
.notice img{float: left;margin-right: 12px;margin-left: 13px;}
.notice i{font-size: 12px;color: #666666;}

.MsgList{color: #666666;font-size:12px; padding: 20px 0;width: 693px;height: 53px;border:1px solid #ebe9ea;margin-top: 8px;padding-left: 13px;}
.MsgList>div{width: 170px;overflow: hidden;float: left;}
.MsgList>div>div{padding-top: 5px;}
.MsgList .num{color: #FF6709;font-size: 21px;}
.MsgList img{float: left;width: 53px;height: 53px;margin-right: 11px;}

.need{width: 706px;height: 73px;margin-top: 10px; padding-top: 20px;border:1px solid #ebe9ea; color: #1C93DB;font-size: 12px;}
.need>div{float: left;text-align: center;width: 82px;overflow: hidden;}
.need>.line1{width: 0;height: 48px;border-right: 1px solid #ebe9ea;margin: 0 20px;}
.need .num{color:#999999;font-size: 27px; }

.GNList{width: 706px;font-size: 14px;}
.GNList::after{content: "";display: block; clear: both;}
.GNList .GN{
    float: left;
    width: 157px;
    height: 54px;
    line-height: 54px;
    margin-left: 10px;
    padding-left: 12px;
    color:#999999;
    margin-top: 10px;
    /*//  background: url("../img/GN2.png") no-repeat;*/
}
.GNList .GN.on{  color: #228ECF;  }
.GNList .GN1,.GNList .GN5{  margin-left: 0;  }
.GNList .GN1.on{background: url("../img/GN1on.png") no-repeat !important; }
.GNList .GN2.on{  background: url("../img/GN2on.png") no-repeat !important;}
.GNList .GN3.on{  background: url("../img/GN3on.png") no-repeat !important;  }
.GNList .GN4.on{  background: url("../img/GN4on.png") no-repeat !important;  }
.GNList .GN5.on{  background: url("../img/GN5on.png") no-repeat !important;  }
.GNList .GN6.on{  background: url("../img/GN6on.png") no-repeat !important; }
.GNList .GN7.on{  background: url("../img/GN7on.png") no-repeat !important;  }
.GNList .GN8.on{  background: url("../img/GN8on.png") no-repeat !important;  }

.serverList{width: 706px;}
.serverList::after{content: "";display: block; clear: both;}
.serverList .ser{color: #5CB1E5;width: 226px;height: 221px;float: left;margin-left: 10px;text-align: center;position: relative;border: 1px solid #8DCFF7;background-color: #f0f9fe;}
.serverList .ser.on{color: #ffffff;background-color: #58b0e7;}
.serverList .ser1{margin-left: 0;}
.serverList .ser .moreSer{position: absolute;bottom: 13px;right: 12px;}
.serverList .ser .imgs{width: 89px;height: 89px;margin-top: 27px;margin-left: 70px;margin-bottom: 16px;}
.serverList .ser .imgs img{width: 100%;height: 100%;}
.serverList .ser .chTitle{font-size: 16px;}
.serverList .ser .EngTitle{font-size: 12px;margin-top: 2px;}
.serverList .ser .moreSer{font-size: 12px;}


.wuliufabu{background:url("../img/wuliufabuBack.png") no-repeat;height: 211px; width: 231px;padding-left: 30px ;padding-top: 30px;border: 1px solid #f5f5f5;}
.WLFBtitle{font-size: 21px;color: #0991de;margin-bottom: 15px;}
.zixun{margin-top: 10px;border: 1px solid #f5f5f5;height: 250px;color: #666666;}
.zixunTitle{height: 30px;width: 142px;line-height: 30px;color: #ffffff;background-color: #58b0e7;font-size: 16px;padding-left: 15px;}
.yuan{margin-right: 10px; float:left;background-color:   #B6B6B6;width: 5px;height: 5px;border: 0;border-radius: 50%; margin-top: 20px; }
.yuan.on{background-color: #58b0e7;}
.zixunItem{height: 43px;line-height: 43px;width: 240px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;margin-left: 10px;border-top:1px solid #f5f5f5; }
.zixunItem::after{content: "";display: block;clear: both;}