body{
    background-color: #fff;
    font-family: MicrosoftYaHei;
}
/*左边菜单*/
.manageList{
    width: 210px;
}
.manageList>ul{
    width: 210px;
}
.manageList>ul>li>a{
   display: block;
   /*width: 190px;*/
   padding-left: 30px;
   font-size: 16px;
   height: 50px;
   line-height: 50px;
   color: #6c9efb;
   background-color: #ffffff;
   border: 2px solid #f7f7f7;
}
.manageList>ul>li>ul{
    display: none;
    
    border: 2px solid #f7f7f7;
    border-top: none;
}
.manageList>ul>li>ul>li>a{
    display: block;
    /*width: 175px;*/
    padding-left: 45px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #828282;
    background-color: #ffffff;
}
.manageList>ul>li>ul>li>.active{
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    height: 48px;
    line-height: 48px;
    background-color: #fdfdfd;
}
.manageList>ul>li>ul>li>.active1{
    height: 48px;
    line-height: 48px;
    border: 1px solid;
    color: white;
    background-color: #5590f6;
}


.rightContBox{
    float: right;
    overflow: hidden;
    border: 1px solid #dedede;
    width: 968px;;
    /*min-height: 1030px;*/
    margin-bottom: 5px;
}

/*头部*/
.boxHead{
	width: 100%;
	height: 51px;
	line-height: 51px;
	border-bottom: 1px solid #ebe9ea;
	
}
.boxHead .headLeft{
	float: left;
	margin-left: 22px;
	color: #282828;
	font-size: 16px;
}
.boxHead .headRight{
	width: 90px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #ebe9ea;
	border-radius: 3px;
	float: right;
	margin-top: 8px;
	margin-right: 13px;
	color: #282828;
	font-size: 16px;
}
.boxHead .headRight img{
	width: 14px;
	height: 14px;
}
.boxHead .headRight span{
	margin-left: 5px;
}

.record{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ebe8ea;
}
.record div:first-child{
	float: left;
	margin-left: 21px;
	font-size: 16px;
}
.record div:nth-of-type(2){
	float: right;
	width: 102px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	border: 1px solid #ebe8ea;
	margin-right: 13px;
	font-size: 14px;
	position: relative;
	margin-top: 8px;
}
.record div:nth-of-type(3){
	float: right;
	width: 102px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	border: 1px solid #ebe8ea;
	margin-right: 6px;
	font-size: 14px;
	position: relative;
	margin-top: 8px;
}
.record div:nth-of-type(4){
	float: right;
	width: 102px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	border: 1px solid #ebe8ea;
	margin-right: 6px;
	font-size: 14px;
	margin-top: 8px;
}
.record div:nth-of-type(2) img,.record div:nth-of-type(3) img{
	position: absolute;
	top: 8px;
	right: 6px;
}
.contentslist{
	width: 100%;
	font-size: 14px;
	color: #282828;
}
.contentslist thead tr{
	height: 52px;
	line-height: 52px;
	background-color: #fdfdfd;
	border-bottom: 1px solid #ebe8ea;
}
.contentslist tbody tr{
	height: 59px;
	line-height: 59px;
	border-bottom: 1px solid #ebe8ea;
}
.contentslist tbody tr td{
	text-align: center;
}
.lookover{
	color: #282828;
}
.authority{
	margin: 0 12px;
}
.delect{
	color: #282828;
	font-size: 14px;
}
.salesvolume{
	color: #6ba1ff;
	font-size: 14px;
}
/*开关按钮样式*/
	.chooseswitch .switch{
        display:none;
    }
    .chooseswitch label{
        position:relative;
        display: inline-block;
        padding: 1px;
        border-radius: 24px;
        width: 37px;
        height: 21px;
        margin-bottom: 15px;
        background-color: #eee;
        cursor: pointer;
        vertical-align: top;
        -webkit-user-select: none;
        margin-top: 18px;
    }
    .chooseswitch label:before{
        content: '';
        display: block;
        border-radius: 24px;
        height: 21px;
        background-color: white;
        -webkit-transform: scale(1, 1);
        -webkit-transition: all 0.3s ease;
    }
    .chooseswitch label:after{
        content: '';
        position: absolute;
        top: 50%;  
        left: 50%;  
        margin-top: -11px;  
        margin-left: -11px;
        width: 22px;
        height: 21px;
        border-radius: 22px;
        background-color: white;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.08);
        -webkit-transform: translateX(-9px);
        -webkit-transition: all 0.3s ease;
    }
    .chooseswitch .switch:checked~label:after{
        -webkit-transform: translateX(9px);
    }
    
    .chooseswitch .switch:checked~label:before{
        background-color:#6EA3FF;
    } 
/* 分页 */
.pagesBox{
    margin-top: 18px;
    overflow: hidden;
    font-size: 15px;
    color: #333;
}
.pagesBox ul{
    float: right;
    margin-right: 144px;
}
.pagesBox ul>li{
    float: left;
    /* width: 38px; */
    height: 38px;
    margin-left: 10px;
    padding: 0 13px;
    border: 1px solid #dedede;
    box-sizing: border-box;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
}
.pagesBox ul>li.actived{
    background-color: #5590f6;
    color: #FFFFFF;
}
.pagesBox>input{
    float: right;
    width: 50px;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #dedede;
    line-height: 38px;
    text-align: center;
}
.pagesBox .go{
    float: right;
    height: 38px;
    margin-right: 13px;
    width: 48px;
    margin-left: 10px;
    box-sizing: border-box;
    /*border: 1px solid #dedede;*/
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    background-color: #6ba1ff;
    color: #fff;
    border-radius: 3px;
}
.leftctns{
	font-size: 12px;
	color: #282828;
	margin-left: 140px;
	margin-top: 10px;
	display: inline-block;
}
.leftctns span{
	font-size: 14px;
	color: #6EA3FF;
}
/* 清楚浮动 */
.clearfix:before,.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}